.siteheader .navbar-brand img {
    max-width: 240px;
}

.navbar-expand-xl .navbar-nav {
    margin-top: 30px;

    flex: auto;
}
.topright .btn-outline-light {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    background: rgb(20,132,237);
    background: linear-gradient(90deg, rgba(20,132,237,1) 0%, rgba(74,28,197,1) 100%);
    padding: 13px 30px 13px 30px;
    border-radius: 50px;
    border: none;
    
  
}
.topright .btn-outline-light:hover{
    -webkit-box-shadow: 3px 17px 38px -9px rgba(5,65,156,0.46);
    -moz-box-shadow: 3px 17px 38px -9px rgba(5,65,156,0.46);
    box-shadow: 3px 17px 38px -9px rgba(5,65,156,0.46);
}

.abtHeader span {
    font-size: 30px;
    font-weight: 300;
}

.separatorBG {
    height: 100%;
}

.hero-text img {
    width: 42px;
}

.whyusLeftDesc {
    padding: 122px 30px;
}

.whyusLeftDesc .btn.btn-primary {
    background: #fff;
    border: 1px solid #fff;
}
.whyusLeftDesc .btn.btn-primary:hover{
    color: #000;
    border: 1px solid #000;
}

.hblogsec .blogsec a {
    color: #000;
}

.mainblog .ser-car-desc {
    padding-top: 20px;
}

.ser-car-desc {
    padding-top: 20px;
}

.ser-car-img a {
    color: #000;
}

.home-team .team-card .ser-car-desc {
    min-height: 180px;
}

.getContactmob p {
    font-weight: 400;
}
.getContactmob p + p {
    font-weight: 300;
}
.getContactadd p {
    font-weight: 400;
}
.getContactadd p + p {
    font-weight: 300;
}

.getContacticon img {
    width: 115px;
    margin-bottom: 20px;
}

.getContactinfo p{
    margin-bottom: 33px;
}

.fcontactinfo span {
    font-weight: 400;
}

.subscribeform .alert:empty {
    display: none;
}

.subscribeform .formio-form {
    min-height: auto;
}

.subscribeform .form-control {
    font-size: 14px;
    background: none;
    border: navajowhite;
    border-radius: 50px;
    padding:17px 0 17px 18px;
    border: 1px solid #3455d7;
    min-width: 420px;
    background-color: #fff;
}
.subscribeform .form-control:focus{
    
    box-shadow: none;
}
.subscribeform .btn.btn-primary{
    font-size: 14px;
    font-weight: 500;
    background: rgb(20,132,237) !important;
    background: linear-gradient(90deg, rgba(20,132,237,1) 0%, rgba(74,28,197,1) 100%) !important;
    padding: 10px 50px 10px 30px;
    border-radius: 50px;
    border: none;
    color: #fff;
    position: absolute;
    right: 4px;
    height: 50px !important;
    top: 4px;

}

.subscribeform .btn.btn-primary:after{
    content: url(/images/plg/arrowcion.png);
    position: absolute;
    /* background: url(/images/plg/arrowcion.png) center center no-repeat ; */
    right: 9px;
    top: 11px;
}

.subscribeform .help-block{
    font-size: 12px !important;
    color: #e91c24 !important;
}

.subscribeform  .field-required:after{
    right: 19px;
    position: absolute;
    display: none;
}

section.pagesec.slidertypesecond.clientSys h2 img {
    vertical-align: top;
    margin-left: 12px;
    margin-top: 10px;
    width: 28px;
}

.serviceSliderhome .home-arrow-slider-right {
    left: 51% !important;
}
.serviceSliderhome .home-arrow-slider-left {
    right: 50% !important;
}
.serviceSliderhome .slick-next{
    top: 396px !important;
}
.homeblog  .slick-next{
    top: -50px !important;
}
/* .slidertypesecond .slick-next.home-arrow-slider-right{
    background: url(/images/plg/Forward-Arrow.png) center center/cover no-repeat ;
}
.slidertypesecond .slick-next.home-arrow-slider-right:hover{
    background: url(/images/plg/Forward-Arrow-Blue.png) center center/cover no-repeat ;
} */

.heading-5{
    font-size: 42px;
    line-height: 44px;
    font-weight: 300;
}
.blogrept .blogdate {
    padding-bottom: 15px;
}
.contactleft{
    padding: 40px;
    border-radius: 15px;
    background: #F5F5F5;
}
.contactleft .form-control {
    margin-bottom: 22px;
    border-radius: 15px;
    min-height: 50px;
    font-weight: 300;
    border: 1px solid #243249;
}
.contactleft .form-control::placeholder{
    color: #000 !important;
}
.contactleft .form-group{
    margin-bottom: 10px;
}

.contactleft label {
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 20px;
}
.contactleft p.help-block{
    font-size: 12px !important;
    margin-top: -18px;
    color: red;
}
/* 
.contactleft .formio-component-button .btn.btn-primary {
    text-transform: capitalize;
    background: #5fe6f1;
    border: 1px solid #5fe6f1 !important;
    padding: 13px 20px 13px 20px;
    min-width: 206px;
    color: #000;
    font-size: 18px;
    border-radius: 13px;
    opacity: 1;
    font-weight: 400;
    height: auto;
    margin-top: 10px;
}
.contactleft .formio-component-button .btn.btn-primary:hover {
    border: 1px solid #5fe6f1 !important;
    background: none;
} */

.blogdetails .blogdate {
    color: #2c50d6;
     font-size: 14px;
}
.innerpageList ul {
    margin: 0;
    padding: 0 0 0 26px;
}

.innerpageList ul li {
    font-size: 20px;
    margin-bottom: 11px;
    list-style: disc;
    font-weight: 300;
}
.innerpageHeader h1 span {
    display: block;
    font-size: 36px;
    margin-top: 12px;
    color: #3cb5c1 !important;
    font-weight: 400;
}
.innerpageList ul li strong {
    font-weight: 500;
}


.ser-car-desc {    

    padding-bottom: 18px;
}


.footerTreeGif{
 
    position: absolute;
    bottom: -75px;
    left: 115px;
}
.headerWave{
   
    background: url(/images/islandsmiles/Wave-Desktop-2160x240.gif) repeat-x ;
    height: 120px;
}
.headerWaveMob{
   
    background: url(/images/islandsmiles/Wave-Mobile-563x63.gif) repeat-x ;
    height: 120px;
    position: absolute;
    bottom: -60px;
    width: 100%;
}

.aboutHome{
    margin-top: 150px;
}

h2.footerheading{
    font-size: 76px !important;
}
.footermobLink .accordion .accordion-item{
    background: none;
    border-bottom: none;
    padding: 0;
}
.footermobLink .accordion .accordion-body{
    padding: 0 10px;
}

.footermobLink .accordion .accordion-item h2.accordion-header .accordion-button{
    background: none !important;
}
.footerAccord .accordion-button::after{
    display: none;
}
.footermobLink .accordion .accordion-body{
    background: none;
}




@media (max-width:767px) {
    .appointment-btn{
        margin-top: 15px;
      }
      .aboutHome{
        margin-top: 0;
      }
      #newsletterform {
        margin: 20px 0;
    }
}

@media only screen and (min-width: 1199px) {
    
    /* .subscribeform {
        padding-right: 20px;
    } */
    .navbar-expand-xl .nav {
        margin-top: 28px;
        margin-right: 22px;
        flex: auto;
    }

    .locationdropdown {
        margin-left: 20px;
        margin-top: 28px;
    }

    .hero-text .btn.btn-primary {
        min-width: 276px;
        margin-top: 25px;
    }

    .abtHeader span {
        font-size: 45px;
        font-weight: 300;
    }

    .ser-car-desc {
        text-align: left;

    }

    
    .ser-car-desc span {
        font-weight: 700;
        font-size: 24px;
        margin-top: 8px;
        display: block;
    }

    .ser-car-img a {
        color: #000;
    }
    .ourstoryDesc {
        max-width: 535px;
        padding-left: 0;
        margin-left: 150px !important;
    }

    .islandsmiles-whyusLeft {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        width: 60%;
        display: flex;
    }

    .islandsmiles-whyusright {
        width: 40%;
    }

    .islandsmiles-whyusright img {
        width: 100%;
    }

    .islandsmiles-whyus {
        display: flex;
    }

    .whyusLeftDesc {
        max-width: 615px;
        margin: auto;
        padding: 0;
    }

    .whyusLeftDesc p {
        line-height: 30px !important;
    }

    .mainblog .ser-car-desc {
        
        line-height: 25px;

    }

    .learnMoreblog {
        margin-top: 8px;
        color: #333;
        font-size: 14px;
        bottom: 64px;
        position: absolute;
    }
    
    .learnMoreblog span{ 
        font-size: 18px;
    display: inline;
    margin-left: 3px;
}
   
    .learnMoreblog a{
        margin-top: 8px;
        color: #333;
        font-size: 14px;
    }

    .learnMoreblog a:hover{
        color:#2C50D6 ;
    }
    .home-team .team-card {
        padding: 15px;
    }



    .getFreeLeft h2 {
        line-height: 64px !important;
    }

    .getFreeLeft .btn.btn-primary {
        min-width: 256px;
    }

    .getContactinfo {

        padding: 0 0 0 40px;
    }

    section.sitefooter.pagesec h2 {
        line-height: 80px;
    }

    .fcontactinfo p {
        margin-bottom: 17px;
        font-size: 14px !important;
    }

    .privacy-box {
        border-top: 1px solid #000;
        padding-top: 30px;
        color: #000;
    }

    .privacy-box p a {
        font-size: 18px;
        margin: 0 5px;
    }


    .privacy-box p a:first-child {
        margin-left: 0;
    }
}

@media only screen and (max-width: 1199px) {
    .ser-car-desc {    
        padding-bottom: 10px;
    }
    
    .homeblog  .slick-next{
        top: 561px !important;
    }
    section.pagesec.slidertypesecond.clientSys {
        text-align: center;
    }
    .getFreeLeft  h2{
        font-size: 45px !important;
    }
    .getFreeLeft  .heading-5{
        font-size: 30px;
        margin-bottom: 10px !important;
        line-height: 30px;
    }
    

    .getContacticon img {
        width: 70px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .team-card {
        margin-bottom: 20px;
    }
  
    .footerTreeGifmob {
        position: absolute;
        bottom: -139px;
        right: 0;
        left: initial;
    }
  
    .ourstoryDesc {
        margin: 0;
        padding-bottom: 130px !important;
    }
    
    .getFreeRight iframe {
        margin-bottom: 30px;
        margin-top: 30px;
    }
    .navbar-expand-xl .navbar-nav {
        margin-top: 0;
        margin-left: 0;
    }
    .siteheader .navbar-brand img {
        max-width: 150px;
    }
       
}
@media (max-width: 992px) {
.serviceSliderhome .home-arrow-slider-right {
    right: 2px !important;
 
}
}

@media only screen and (max-width: 600px) {
    .whyusLeftDesc{
        padding: 106px 30px;
    }
    .mobileScreen .siteheader .navbar-brand img {
        width: 147px;
    }
}
