.sercarousel {
    margin: 0 -15px;

    .ser-carousel {
        // text-align: center;
            position: relative;
            padding: 0;
    }

    // .ser-car-img {
    //     img {
    //         width: 100%;
    //     }
    // }
    .ser-car-cont{
        // bottom: 9px;
        // position: absolute;
        // width: 100%;
        // left: 0;
        // padding-left: 90px;
        // font-size: 21px;
        // color: #fff;
        // max-width: 340px;
        // text-align: center;
        // line-height: 27px;
    
    }

}